.container {
    display: flex;
    justify-content: center;
    background-image: url("/fabric.png");
    margin-top: -1em;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textDarker);
    padding: 5em 0;
    max-width: 1024px;
}


.title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.description {
    text-align: justify;
    padding: 0 var(--horPadding)
}

@media (min-width: 476px) {
    .headerContainer {
        padding: 8em 0;
    }

    .description {
        line-height: 2em;
        font-size: 1.2em;
    }
}