/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base {
  body {
    @apply bg-black
  }
} */

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: #89b0ae;
  --textWhite: #ffffff;
  --textSoft: #bee3db;
  --textDark: #595959;
  --textDarker: #3b3b3b;
  --textLighter: #e9d985;
  --colorOrange: #ff930a;
  --colorOrangeLight: #ffb95c;
  --btn: #3673fd;
  /* --bgImg: */
  --horPadding: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  /* background-image: url("../../public/bgmod.png"); */
  background-attachment: fixed;
  color: var(--textDarker);
}

.container {
  /* max-width: 1024px; */
  margin: 0 auto;
  /* margin at the top to "move" all content below the fixed
  navbar */
  margin-top: 90px; 
  /* padding-left: 18px;
  padding-right: 18px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

/* @media (max-width: 768px) {
    .container {
      width: 640px;
    }
  }
  
  
@media (max-width: 640px) {
    .container {
      width: 475px;
    }
}
  
  
@media (max-width: 475px) {
    .container {
      width: 300px;
    }
} */