.container {
    height: 100%;
}

.content {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 5em 0;
    /* height: calc(100vh - 120px); */
}

.header {
    padding: 0 var(--horPadding);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.desc {
    max-width: 80%;
    text-align: center;
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}

@media (min-width: 476px) {
    .content {
        padding: 10em 0;
        height: calc(100vh - 250px); 
    }

    .header {
        font-size: 2.9em;
    }
}

@media (min-width: 768px) {
    .content {
        padding: 19em 0;
        height: calc(100vh - 250px); 
        /* 250px is a height of a footer */
    }

    .header {
        font-size: 3.2em;
    }

    .desc {
        max-width: 60%;
        text-align: center;
        font-size: 1.2em;
        line-height: 1.7em;
        margin-bottom: 1.5em;
    }
}