.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 var(--horPadding);
    max-width: 1024px;
    gap: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    gap: 2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.message {
    font-size: 1.1em;
}

.message > p {
    margin-bottom: 1em;
}

.message > p > span {
    color: var(--textDarker);
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: var(--colorOrange);
    text-decoration-thickness: 2px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInformation > p {
    margin-bottom: 1em;
}

.socialTitle {
    font-weight: bolder;
    font-size: 1.4em;
    height: fit-content;
    margin-bottom: 1em;
    color: var(--colorOrange);
}

.socialIcon {
    font-size: 3em;
    color: #e36414;
    
}

.formHeader {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 4em;
}

.form > input {
    height: 40px;
}

.form > textarea {
    height: 200px;
}

.form > input,
.form > textarea {
    padding: .5em;
    border: 2px solid var(--colorOrange);
    border-radius: .5em;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.form > button {
    width: 100%;
    background-color: var(--colorOrangeLight);
    color: var(--textDarker);
    font-weight: 900;
    text-transform: uppercase;
    padding: 1em 2em;
    border: none;
    border-radius: .5em;
}

.messageDashboard {
    display: flex;
    gap: 1em;
}

.form > .label {
    font-size: small;
    margin-top: -1em;
}

.iconButton {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    color: var(--textDarker)
}

@media (min-width: 476px) {
    .content {
        font-size: 1.2em;
    }

    .message {
        margin-bottom: 3em;
    }

    .socials {
        margin-bottom: 2em;
    }
}

@media (min-width: 769px) {
    .container {
        gap: 7em;
        height: calc(100vh - 250px); /* 250px is a height of navbar */
    }
    
    .content {
        flex-direction: row;
        gap: 4em;
    }

    .contactInformation > p {
        margin-bottom: 2em;
    }

    .contactInformation,
    .formContainer {
        flex: 1;
    }
}



