.container {
    display: flex;
    flex-direction: column;
    padding: 0 var(--horPadding);
    max-width: 1024px;
    gap: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.message {
    font-size: 1.1em;
}

.message > p {
    margin-bottom: 1em;
}

.message > p > span {
    color: var(--textDarker);
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: var(--colorOrange);
    text-decoration-thickness: 2px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInformation > p {
    margin-bottom: 1em;
}

.socialTitle {
    font-weight: bolder;
    font-size: 1.4em;
    height: fit-content;
    margin-bottom: 1em;
    color: var(--colorOrange);
}

.socialIcon {
    font-size: 3em;
    color: #e36414;
    
}

.formHeader {
    margin: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-bottom: 4em;
}

.formContainer > input {
    height: 40px;
}

.formContainer > textarea {
    height: 200px;
}

.formContainer > input,
.formContainer > textarea {
    padding: .5em;
    border: 2px solid var(--colorOrange);
    border-radius: .5em;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.formContainer > button {
    width: 100%;
    background-color: var(--colorOrangeLight);
    color: var(--textDarker);
    font-weight: 900;
    text-transform: uppercase;
    padding: 1em 2em;
    border: none;
    border-radius: .5em;
}

.formContainer > .label {
    font-size: small;
    margin-top: -1em;
}



