.container {
    background-color: white;
    /* color: #1b4965; */
    border-radius: 1em;
    border: 2px solid var(--text);
    padding: 1em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.imgContainer {
    position: relative;
    width: 100px;
    height: 100px;
}

@media (max-width: 475px) {
    .container {
        display: flex;
    }
}